
body {
  background-color: gray;
  font-size: 14px;
  font-family: Voltaire
}

header, nav, article, section, footer {
  border: 3px solid black;
  margin: 2px;
  background-color: #E2E3DF

}

header {
  position: relative;
  left: 250px;
  width: 800px;
  font-family: "Voltaire";
  background-color: #E2E3DF;
}

nav {
  position: fixed;
  left: 0;
  top: 12px;
  bottom: 0;
  border: 8px solid black;
  padding: px;
  font-family: "Michroma"
  }


section {
  position: absolute;
  left: 260px;
  width: 800px;
  background-color: black
}

article {
  position: right;
  position: static;
  margin: 0px;
  height: 500px;
  background-color:#E2E3DF ;
  font-size: 18px;
  z-index: 12;
}

footer {
  position: static;
  font-size: 30px;
  font-family: "Michroma"
}

a {
  color: #BE525E;
}

 div {
  position:fixed;
  right: 0;
  top: 70px;
  bottom: 0

}

