
body {
  background-color: gray;
  font-size: 14px;
  font-family: "Contrail One"
}

header, nav, article, section, footer {
  border: 3px solid black;
  margin: 10px;

}

header {
  position: relative;
  left: 250px;
  width: 800px;
  font-family: Voltaire;
  background-color: #E2E3DF;
}

nav {
  position: fixed;
  left: 0;
  top: 12px;
  bottom: 0;
  border: 5px solid black;
  padding: px;
  }


section {
  position: absolute;
  left: 260px;
  width: 800px;
  background-color: #E2E3DF
}

article {
  position: right;
  position: static;
  height: 500px;
  background-color: gray;
}

footer {
  position: static;
  font-size: 30px;
}

a {
  color: #BE525E;
}


